---
import { getCollection } from "astro:content";
import Layout from "../layout/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog">
  <div aria-labelledby="blog">
    <ul>
      {
        posts.map((post) => {
          const dayMonth = post.data.pubDate.toDateString().slice(4, 10);
          const year = post.data.pubDate.toDateString().slice(11, 15);
          const date = `${dayMonth}ᵗʰ, ${year}`;
          return (
            <BlogPost
              href={`/blog/${post.slug}`}
              title={post.data.title}
              date={date}
            />
          );
        })
      }
    </ul>
  </div>
</Layout>

<style lang="scss"></style>
