---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";

const domain = "mgastonportillo.dev.ar";
const url = `https://${domain}`;
const titleTag = "Gale | Creative Web Developer";
const image = "/img/thumbnail.jpg";
const desc = "A creative web dev that does a little more than just web dev.";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- OG meta tags -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={titleTag} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={image} />
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={domain} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={titleTag} />
    <meta name="twitter:description" content={titleTag} />
    <meta name="twitter:image" content={image} />
    <!-- Local meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/wwa2fwb.css" />
    <ViewTransitions />
  </head>

  <body>
    <Sidebar />

    <section transition:animate="slide">
      <slot />
    </section>

    <style is:global lang="scss">
      @import "../styles/variables.scss";

      html {
        font-family: "marine", system-ui, sans-serif;
        background: $bg;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      body {
        padding: 10rem;
        width: 960px;
        max-width: 960px;
        display: flex;
      }

      section {
        min-width: 480px;
        width: 100%;
      }

      h1 {
        font-size: 2rem;
      }

      h2,
      h3 {
        font-size: 1.8rem;
      }

      li,
      a,
      p {
        font-weight: lighter;
        font-size: 1.3rem;
      }

      i {
        font-style: normal;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }

      code,
      kbd {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .no-icon:after {
        display: none;
      }
    </style>
  </body>
</html>
